.footer {
  background-color: $purple;
  background-image: url('/images/bg-footer.jpg');
  background-size: cover;
  background-position: center;
  color: $purple-light;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
