<footer class="footer">
  <div class="container">
    <div class="row align-items-center text-center justify-content-center flex-column">
      <p class="copyright">
        Copyright © 2017 Tink – Seu Mundo Seguro. Todos os Direitos Reservados.
      </p>
      <p>
        <span class="contact">
        <b>
          São Paulo
        </b>
        +55 (11) 97299-7828
        </span>
        <br>
        <span class="contact">
          <b>
            Natal
          </b>
          +55 (84) 98832-2507
        </span>
      </p>
    </div>
  </div>
</footer>
